<html>
  <head>
<script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Django Spaghetti and Meatballs Demo</h1>

<ul>
  <li>
    <a href="{% url 'test_plate_settings' %}">Plate settings override</a>
  </li>
  <li>
    <a href="{% url 'test_plate_show_m2m_field_detail' %}">M2M override test</a>
  </li>
  <li>
    <a href="{% url 'test_plate_override' %}">Plate override test</a>
  </li>
  <li>
    <a href="{% url 'spaghetti:plate' %}">Generic plate view</a>
  </li>
</ul>


<hr>

<div id="visualization" style="max-height:500px"></div>

<script>
  var nodes = new vis.DataSet(
      {{ meatballs|safe }}
  );

  var edges = new vis.DataSet(
      {{ spaghetti|safe }}
  );

  var data = {
    nodes: nodes,
    edges: edges
  };

  var container = document.getElementById('visualization');
  var options = {
    "edges": {
      "smooth": {
        "type": "dynamic"
      }
    },
  
    "layout": {
        hierarchical: {
            sortMethod: 'hubsize',
            direction:'LR'
        }
    },

  };

  var timeline = new vis.Network(container, data, options);

</script>
</body>
</html>